* {
  font-family: 'Arial', cursive !important;
}

.form-floating *, .form-floating option, .form-floating input {
  font-weight: 300 !important;
}
body {
  background: linear-gradient(90deg, rgba(255,235,205,1) 0%, rgba(255,235,205,1) 35%, rgba(255,235,205,1) 100%);
  overflow-y: scroll;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.log-in-card {
  width: 25rem;
  border-radius: 1px !important;
  padding: 25px;
}

.log-in-btn {
  background: transparent !important;
  border: 2px solid white !important;
  outline: none !important;
  transition: .2s;
}

.log-in-btn:hover {
  color: black !important;
  background: white !important;
}

@media (max-width: 750px) {
  .log-in-card {
    width: 20rem;
    padding: 10px;
    font-size: 14px;
  }
}
